h1 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.autosuggest {
  display: flex;
  max-width: 320px;
  margin: 30px auto;
}

.autosuggest__input {
  position: relative;
  width: 60%;
}

.autosuggest__input input {
  width: 100%;
  height: 32px;
  padding: 0 5px;
  font-size: 14px;
  color: #333333;
  background: #f7f7f7;
  border: 2px solid #333333;
  border-radius: 5px 0 0 5px;
}

.autosuggest__input input:focus {
  outline: none;
}

.autosuggest button {
  width: 40%;
  height: 32px;
  padding: 0 5px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #333333;
  border: 2px solid #333333;
  border-radius: 0 5px 5px 0;
}

.autosuggest button:focus {
  outline: none;
}

.autosuggest__input__list {
  position: relative;
  width: 100%;
  margin-top: -5px;
  padding-top: 5px;
  list-style: none;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  max-height: 150px;
  overflow-y: scroll;
  background: #f7f7f7;
  border: 2px solid #333333;
  border-top-width: 0;
  border-radius: 0 0 5px 5px;
  z-index: 2;
}

.autosuggest__input__list li {
  position: relative;
  padding: 0 5px 0 25px;
  color: #333333;
  cursor: pointer;
}

.autosuggest__input__list li span {
  position: absolute;
  display: block;
  top: 50%;
  left: 5px;
  width: 15px;
  height: 15px;
  padding: 0 5px;
  color: #333333;
  cursor: pointer;
  border: 1px solid #333333;
  transform: translateY(-50%);
}

.autosuggest__input__list li:hover {
  background-color: rgba(105, 105, 105, 0.5)
}

.background {
  width: 100%;
  height: 100vh;
  padding: 30px;
  text-align: center;
  transition: background .5s;
}
